* {
    font-family: sans-serif;
    padding: 20px;
}


h2 {
    text-align: center;
    font-size: 5em;
    background-color: lightcoral;
}
h1 {
    text-align: center;
    font-size: 4em;
    height: 120px;
    margin-top:-90px;
}
h1 img {
    height: 200px;
}
body {
    padding-top:19px;
}


.won {
    text-align: center;
    font-size: 1.8em;
}

div form {
    margin: center;
    display: inline;
    
}

div {
    text-align:center;
    font-size: 4em;
}

div span {
    margin-left: 9%;
    margin-right:9%;
}

div a{
    text-decoration: none;
    color: black;
    border: 2px solid lightseagreen;
}

a:hover {
    background-color: lightseagreen;
    color: white;
}