* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
    height: 120px;
    margin-top: -35px;
}
h1 img {
    height: 200px;
}

.name {
    text-align: right;
    margin-bottom: 2px;
    margin-top: 10px;
    font:white;
    
}

form{ 
    text-align: right;
    margin-left:120px;
}

body {
    padding: 50px;
    padding-top:0px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}


th {
    height: 50px;
}

tr:hover {background-color: #f5f5f5;}

.add {
    margin: 8px;
    padding:5px;
    margin-top:10px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}
li {
    display: inline-block;
    text-align: center;
}

li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    padding-bottom: 26px;
    margin-left: 109px;
}


table a {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

form input {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.messages  {
    background-color: white;
}

.ninja {
    font-size: 1.1em;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-color: white;
    color: #365697;
}